/*---------------------------------------
 *                                      *
 *       Add Your Custom CSS Here       *
 *                                      *
 ---------------------------------------*/

.fitur-list {
	font-size: 1.5rem;
	font-weight: bold;
	color: #212121;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	line-height: 1.5;
	transition: .3s;
	min-height: unset;
	margin-bottom: -5px;
}

#page-icon .pricing-icon.store {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 10%;
	margin-left: -100px;
	bottom: -160px;
	overflow: hidden;
	z-index: 100;
	-webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
}

.seedetail {
	padding: 10px;
	font-size: 18px;
	color: rgb(98, 194, 8);
}

.seedetail:hover {
	text-decoration: none;
	color: white;
	background-color: rgb(98, 194, 8);

	border-radius: 5px;

}
